$bg: #061125;
$bg-pattern: #101b2f;
$box: #152034;
$field: #26314a;
$header: #0d1c38;
$hint: #626d81;
$hovered-button: #424a5c;
$hovered-text: #939393;
$pressed-button: #1a2539;
$error: #ac1919;
$warning: #c16918;
$success: #4bb543;
$accent: #00288e;
$accent-light: #1e46ac;
$first-text: #f7f7f7;
$second-text: #dedede;

$font-main: 'Roboto', sans-serif;
