$color-bg: #061125;
$color-bg-pattern: #101b2f;
$color-box: #152034;
$color-field: #26314a;
$color-header: #0d1c38;
$color-hint: #626d81;
$color-hovered-button: #424a5c;
$color-hovered-text: #939393;
$color-pressed-button: #1a2539;
$color-error: #ac1919;
$color-warning: #c16918;
$color-success: #4bb543;
$color-accent: #00288e;
$color-accent-light: #1e46ac;
$color-first-text: #f7f7f7;
$color-second-text: #dedede;

$font-main: 'Roboto', sans-serif;
