@import 'variables';

* {
   color: $color-second-text;
   box-sizing: border-box;
   font-family: $font-main;
}

body {
   background-color: $color-bg;
   background-image: url('src/assets/images/background.png');
}

h2 {
   font-size: 32px;
   font-weight: bold;
}

img {
   max-width: 100%;
   max-height: 100%;
}

.container {
   min-height: 100%;
   max-width: 1440px;
   display: flex;
   margin: 0 auto;
   justify-content: space-between;
}
